@model Villa
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-gradient bg-success ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-2">Create Villa</h1>
            </div>

        </div>

    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <div class="p-3">
                <div asp-validation-summary="None"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name"class="border form-control shadow"/>
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" class="border form-control shadow" />
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="price" class="form-control border shadow" />
                    <label asp-for="price" class="ms-2"></label>
                    <span asp-validation-for="price" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                <input asp-for="sqft" class="form-control border shadow"/>
                <label asp-for="sqft" class="ms-2"></label>
                    <span asp-validation-for="sqft" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Occupancy"class="form-control shadow border" />
                    <label asp-for="Occupancy" class="ms-2"></label>
                    <span asp-validation-for="Occupancy" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ImageUel" class="form-control border shadow" />
                    <label asp-for="ImageUel" class="ms-2"></label>
                    <span asp-validation-for="ImageUel" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                            </svg>  Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" asp-controller="Villa" class="btn btn-danger w-100">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>  back  List
                        </a>
                    </div>
                   
                  

                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}